body {
    background-color: #c62828;
}

.hidecopy {
    display: none;
}

.main-container {
    padding: 5%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.panel-heading {
    text-align: center;
    margin-bottom: 3%;
}

.panel-body {
    margin-top: 3%;
}

#name {
    font-size: larger;
}

#title {
    font-size: large;
}

.form-control {
    margin-right: 5px;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}