body {
    background-color: #c62828;
}

.panel-heading {
    text-align: center;
    margin: auto;
    color: white;
}

.panel {
    margin-top: 45%;
}

#name {
    font-size: larger;
}

#title {
    font-size: large;
}

#load {
    text-align: center;
    margin-top: 80px;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 5px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.8s;
}

@keyframes lds-ripple {

    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -35px;
        left: -35px;
        width: 128px;
        height: 128px;
        opacity: 0;
    }
}

button {
    margin-top: 10%;
    margin-left: 32%;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    overflow-y: auto;
    transition: 0.8s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
